<h1>Todos page</h1>

{{#if todos.length}}
<ul>
    {{#each todos}}
        <li class="todo">
            <form action="/compete" method="POST">
                <label>
                    {{#if completed}}
                        <input type="checkbox" checked>
                        <span class="completed">{{ title }}</span> 
                    {{else}}                    
                        <input type="checkbox">
                        <span>{{ title }}</span> 
                    {{/if}}  

                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-small" type="submit">Save</button>
                </label>
            </form> 
        </li>
    {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}